<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>

<p>
  
  <%= simple_format(comment.body) %>
</p>

<p>
  <strong>Rate:</strong>
  <%= comment.rating %>
</p>

  <%= link_to 'Destroy', book_comment_path(book_id: comment.book.id, id: comment.id), method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to 'Edit', edit_book_comment_path(book_id: comment.book.id, id: comment.id) %>

<hr />
