<%= render 'common/errors', model: @comment %>

<%= form_for [@book, @comment] do |f| %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <%= f.submit %>
  </div>

<% end %>
