<%= render 'common/errors', model: @comment %>

<%= form_for [@book, @comment] do |f| %>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
   <%= f.label :rating %><br>
   <%= f.text_field :rating %>
  </p>
  <p>
    <%= f.submit %>
  </p>



<% end %>
