<div class="container-fluid">
  <%= form_for @author, html: { multipart: true } do |f| %>
  <%= render 'common/errors', model: @author %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :choose_image_for_this_author %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :born %>
      <%= f.text_field :born, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
     <%= f.collection_check_boxes :book_ids, Book.all, :id, :title, class: 'form-control' %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
