<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"> Meet your favorite author.</h1>
    <hr class="my-4">
    <table class='table table-hover'>
      <thead>
        <tr>
          <th></th>
          <th>List of authors</th>
          <th>Born</th>
        </tr>
      </thead>

      <tbody>
        <% @authors.each do |author| %>
          <tr>
            <td><%= image_tag author.image.url(:thumb) %></td>
            <td><i><%= link_to author.name, author_path(author) %></i></td>
            <td><%= author.born %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <% if current_user&.admin? %>
        <%= link_to "Add an author", "/authors/new" %>
      <% end %>
    </p>
  </div>
    <div class="digg_pagination">
      <div class="page_info">
        <p><%= page_entries_info @authors %></p>
      </div>
      <%= paginate @authors, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
