<div class="container">
  <div class="row justify-content-around">
    <div class="column-1">
      <h1>Meet your next favorite book.</h1>
      <hr />
      <h2 class="lead">Deciding what to read next?</h2>
        <%= link_to 'Books', controller: "books" %>
      <hr />
      <h2 class="lead">Find your favorite author:</h2>
        <%= link_to 'Authors', controller: "authors" %>
      <hr />
    </div>
    <div class="column-2">
      <h2 class="lead"></h2>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th></th>
            <th>Top rated books</th>
            <th>Rating</th>
          </tr>
        </thead>

        <tbody>
          <% @books.each.with_index(1) do |book, index| %>
          <tr>
            <% if book.comments_count > 2 %>
              <td><%= index %></td>
              <td><i><%= link_to book.title, book_path(book), class: "btn btn-outline-dark" %></i></td>
              <td>
              <% if book.average_ranking.nil? %>
                <%= link_to 'Be the first to rate', book_path(book) %>
              <% elsif %>
                <%= book.average_ranking %>
              <% end %>
              <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
