<h1> GreatReads </h1>
  <p>
    <%= link_to "Add book", "/books/new" %>
  </p>

  <p>Search by title:
    <%= form_tag(books_path, method: :get) do %>
      <%= text_field_tag :title, params[:title] %>
        <%= submit_tag "Search", name: nil %>
      <% end %>
  </p>

  <hr />

  <h2> Meet your favorite book...</h2>

    <% @books.each do |book| %>
      <h3>
        <%= link_to book.title, book_path(book) %>
      </h3>
    <% end %>
