<div class="jumbotron">
  <h1 class="display-4">GreatReads </h1>

  <p><i>You’re in the right place. What title are you searching for?</i></p>
    <%= form_tag(books_path, method: :get) do %>
    <div class="input-group">
      <%= text_field_tag :title, params[:title] %>
      <span class="input-group-btn">
        <%= submit_tag "Search", name: nil, class: "btn btn-dark"  %>
      </span>
    </div>
    <% end %>

  <hr class="my-4">
    <%= link_to "Add book", "/books/new" %>
  <hr />
</div>

  <h2> Meet your favorite book...</h2>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>All books</th>
          <th>Author</th>
          <th>Published</th>
          <th>Rating</th>
          <th>More...</th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><i><%= book.title %></i></td>
            <td><% book.authors.each do |author|  %>
              <%= link_to author.name, author_path(author) %>
            <% end %></td>
            <td><%= book.date %>
            <td><%= book.avg_rating&.round(1) %></td>
            <td><%= link_to 'More', book_path(book) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
