<h1> GreatReads </h1>
  <p> <%= link_to "Add book", "/books/new" %> </p>
  <p>
    <%= form_tag books_path, method: :get do %>
      <%= text_field_tag :q, params[:q], class: "form-control" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-default" %>
     </span>
     <% end %>
  </p>

  <hr />

  <h2> Meet your favorite book...</h2>

    <% @books.each do |book| %>
      <h3>
        <%= link_to book.title, book_path(book) %>
      </h3>
    <% end %>
