<h2><i>Greatreads helps you keep track of books you want to read</i></h2>
    <h3><%= @book.title %></h3>
      <p><%= @book.description %></p>
      <p><%= @book.pages %></p>
      <p><%= @book.date %></p>
      <p><%= @book.isbn %></p>
      <p><%= @book.language %></p>
