<h2><i>GreatReads helps you keep track of books you want to read</i></h2>
    <h3><%= @book.title %></h3>
      <p><%= @book.description %></p>
      <p>Pages: <%= @book.pages %></p>
      <p>Published: <%= @book.date %></p>
      <p>ISBN: <%= @book.isbn %></p>
      <p>Edition language: <%= @book.language %></p>

  <p><%= link_to 'Edit this book', edit_book_path(@book) %></p>
  <p><%= link_to 'Remove this book', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
