<h1>GreatReads</h1>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">
      <p style="display: inline"><%= @book.title %></p>
      <p style="display: inline"> <%= image_tag @book.image.url(:medium) %></p>
    </h2>
    <hr class="my-4">
      <strong>by</strong>
      <% @book.authors.each do |author| %>
        <%= link_to author.name, author_path(author) %>
      <% end %>
    <hr />
  </div>

  <div class="container-fluid">
      <p>Rating: <%= @book.average_rating %></p>
      <p><%= @book.description %></p>
      <p>Pages: <%= @book.pages %></p>
      <p>Published: <%= @book.date %></p>
      <p>ISBN: <%= @book.isbn %></p>
      <p>Edition language: <%= @book.language %></p>
  </div>

  <div class="container-fluid">
    <strong> Tags:</strong>
    <% @book.tags.each do |t| %>
      <%=link_to t, books_path(q: t), class: "badge badge-dark" %>
    <% end %>
  </div>

  <div class="container-fluid">
    <p>Created by: <%= @book.user.email %></p>
  </div>
  <hr />

  <div class="container-fluid">
  <h2 class="display-4"> Comments </h2>
    <%= render @book.comments %>
      <% if current_user %>
        <%=render 'comments/form' %>
      <%end%>
  </div>

  <hr />
  <div>
    <p><%= link_to 'All Books', books_path %> </p>
    <p><%= link_to 'Edit this book', edit_book_path(@book) %></p>
    <p><%= link_to 'Remove this book', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <p><%= link_to 'Add another book', new_book_path(@book) %></p>
  </div>
</div>
