<nav class="navbar navbar-expand-lg">
  <div class="navbar-brand">
    <%= link_to welcome_index_path do %>
      <%= image_tag("greatreads_exclusive.png", "data-svg-fallback" => asset_path("greatreads_exclusive.png")) %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"><%=  link_to 'Books', books_path, class: "btn btn-dark btn-sm" %><span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"><%= link_to 'Authors', authors_path, class: "btn btn-dark btn-sm" %><span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"><%= link_to 'My books', users_index_path, class: "btn btn-dark btn-sm" %><span class="sr-only"></span></a>
      </li>
    </ul>
  </div>

  <div id="signInForm">
    <div class="nav-item active">
      <% if user_signed_in? %>
      <p>
         Hello <%= current_user.email %>!<br>
         <% if current_user.avatar.url.present? %>
            <%= image_tag(current_user.avatar.url, class: "profile-image img-circle") %>
         <% end %>
         <%= link_to 'Log out', destroy_user_session_path, class: "btn btn-dark", method: :delete %>
      </p>

       <% else %>
         <p>Sign in or create a free account</p>
         <div class="nav-item dropdown">
           <a class="nav-link dropdown-toggle btn btn-dark btn sm" href="Log in" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Log in
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item"> <%= link_to 'Sign in', new_user_session_path, class: "btn btn-dark btn-sm" %><br></a>
             <a class="dropdown-item" > <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-dark btn-sm"%></a>
           </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
